MEMORISE_USERNAME = "YOUR MEMORISE USERNAME"
MEMORISE_PASSWORD = "YOUR MEMORISE PASSWORD"

NAVER_CLIENT_ID = "YOUR NAVER CLIENT IT"
NAVER_CLIENT_SECRET = "YOUR NAVER CLIENT SECRET"

GOOGLE_TRANSLATE_KEY = "YOUR GOOGLE API KEY"